html{
    margin: 0px;
    padding: 0px;
}

.boxlogin{
    
    width: 50%;
    max-width: 700px;
    min-width: 420px;
    padding: 30px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 10px 10px #d6d6d6;
}



input[type='submit']{
    box-shadow: 0px 10px 10px #d6d6d6;
    margin-top: 35px;
}

